@using ASP_Statistics.Classes
@using ASP_Statistics.Enums
@model StatisticsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <form id="statisticsForm">
            <div class="form-row">
                <div class="form-group mr-2 col">
                    <label asp-for="GameResultType">Game Result</label>
                    <select class="form-control custom-select" asp-for="GameResultType" asp-items="Html.GetEnumSelectList<GameResultType>()">
                        <option value="null">Please select one</option>
                    </select>
                </div>
                <div class="form-group mr-2 col">
                    <label asp-for="ForecastType">Forecast Type</label>
                    <select class="form-control custom-select" asp-for="ForecastType" asp-items="Html.GetEnumSelectList<ForecastType>()"></select>
                </div>
                <div class="form-group mr-2 col">
                    <label asp-for="ThreadNumbers">Thread Numbers</label>
                    <input type="number" class="form-control" asp-for="ThreadNumbers" />
                </div>
                <div class="form-group mr-2 col">
                    <label asp-for="ExcludeRefundResults">Exclude Refund Results</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="ExcludeRefundResults" />
                    </div>
                </div>
                <div class="form-group mr-2 col">
                    <label asp-for="AllowIncreaseBets">Allow Increase Bets</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="AllowIncreaseBets" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mr-2 col">
                    <label asp-for="LowerBound">Lower Bound</label>
                    <input class="form-control custom-select" asp-for="LowerBound" />
                </div>
                <div class="form-group mr-2 col">
                    <label asp-for="UpperBound">Upper Bound</label>
                    <input class="form-control custom-select" asp-for="UpperBound" />
                </div>
                <div class="form-group">
                    <label>Action</label>
                    <div class="form-control btn-group p-0 border-0">
                        <button type="reset" class="form-control btn-warning align-bottom mr-2">Reset</button>
                        <button type="button" id="filter-button" class="form-control btn-danger align-bottom">Filter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="statisticResultsContainer" class="row">

</div>

@section Scripts
{
    <script>
        $(function() {
            $(".nav-item").removeClass("active");
            $("#nav-statistics").addClass("active");
        });
    </script>

    <script>
        $(function() {
            $("#filter-button").click(function() {
                toggleLoader();

                $.post('@Url.Action("StatisticsAsync", "Home")',
                    $("#statisticsForm").serialize(),
                    function(response) {
                        $("#statisticResultsContainer").html($(response));

                        toggleLoader();
                    });

                @*$.post("@Url.Action("GetCharts")",
                    $("#request-form").serialize(),
                    function(result) {
                        $("#charts-container").html($(result));
                    });

                $.post("@Url.Action("GetStrategyCharts")",
                    $("#request-form").serialize(),
                    function(result) {
                        $("#strategy-charts-container").html($(result));
                    });*@
            });

            $('#statisticsForm #LowerBound').datepicker({
                uiLibrary: 'bootstrap4',
                value: '@(Model.LowerBound?.ToString("d") ?? "")',
                format: 'mm/dd/yyyy',
                maxDate: function() {
                    return $('#statisticsForm #UpperBound').val();
                }
            });

            $('#statisticsForm #UpperBound').datepicker({
                uiLibrary: 'bootstrap4',
                value: '@(Model.UpperBound?.ToString("d") ?? "")',
                format: 'mm/dd/yyyy',
                minDate: function() {
                    return $('#statisticsForm #LowerBound').val();
                }
            });
        })
    </script>
}
