@using ASP_Statistics.Classes
@using ASP_Statistics.Enums
@using ASP_Statistics.JsonModels
@using ASP_Statistics.Utils
@model IEnumerable<ASP_Statistics.JsonModels.ForecastJson>

@{
    var i = 1;
}

<div class="table-responsive mh-800">
    <table class="table">
        <thead class="thead-dark">
        <tr class="table-info">
            <th scope="col">#</th>
            <th scope="col">Sport</th>
            <th scope="col">Tournament</th>
            <th scope="col">Teams</th>
            <th scope="col">Date</th>
            <th scope="col">Coefficient</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        <tbody>
            @foreach (ForecastJson forecast in Model)
            {
                <tr class="@HtmlViewHelper.GetCssClassForTable(forecast.GameResultType)">
                    <th scope="row">@(i++)</th>
                    <td>@forecast.Sport.ToString()</td>
                    <td>@forecast.TournamentName</td>
                    <td>@forecast.Game.ToString()</td>
                    <td>@forecast.GameAt.ToString("g")</td>
                    <td>@forecast.Coefficient</td>
                    <td>@forecast.GameResultType.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
